
h2 USER SIGNUP
    form(method='post',action='/signup_user', enctype="multipart/form-data")
        | first_name :
        input(type='text', name='first_name')
        | email :
        input(type='text', name='email')
        | password :
        input(type='password', name='password')
        | phonono :
        input(type='text', name='phonono')
        br
        | address :
        input(type='text', name='address')
        | current_latitude :
        input(type='text', name='current_latitude')
        | current_longitude :
        input(type='text', name='current_longitude')
        | device_type :
        input(type='text', name='device_type')
        | device_token  :
        input(type='text', name='device_token')
        | app_version 1 for andriod and 2 for ios:
        input(type='text', name='app_version')
        | user_image :
        input(type='file', name='file')
        input(type='submit',value='submit')
        br

h2 USER LOGIN/DRIVER LOGIN
form(action='/login_user', method='post')
    | email :
    input(type='text', name='email')
    | password :
    input(type='password', name='password')
    | latitude :
    input(type='text', name='latitude')
    | longitude :
    input(type='text', name='longitude')
    | device_type :
    input(type='text', name='device_type')
    | device_token :
    input(type='text', name='device_token')
    | app_version :
    input(type='text', name='app_version')
    br
    input(type='submit',value='submit')
    br

h2 Logout:
    form(action='/logout',method='post')
        | access token:
        input(type='text', name='access_token')
        input(type='submit',value='logout')
        br

h2 FORGET PASSWORD FOR USER AND DRIVER
    form(action='/forgetpassword',method='post')
        |email :
        input(type='text',name='email')
        input(type='submit',name='FORGET PASSWORD')
        br

h2 ChangePassword
    form(action='/changepassword',method='post')
        | ACCESSTOKEN :
        input(type='text',name='access_token')
        | Old PASSWORD :
        input(type='password',name='old_password')
        | NEW PASSWORD :
        input(type='password',name='new_password')
        input(type='submit',name='Change Password' value='Change Password')

h2 Driver_signp
    form(method='post',action='/signup_driver', enctype="multipart/form-data")
        | first_name :
        input(type='text', name='first_name')
        | email :
        input(type='text', name='email')
        | password :
        input(type='password', name='password')
        | phonono :
        input(type='text', name='phonono')
        | address :
        input(type='text', name='address')
        | current_latitude :
        input(type='text', name='current_latitude')
        | current_longitude :
        input(type='text', name='current_longitude')
        | device_type :
        input(type='text', name='device_type')
        | device_token  :
        input(type='text', name='device_token')
        | app_version 1 for andriod and 2 for ios:
        input(type='text', name='app_version')
        | driver_image :
        input(type='file', name='file')
        input(type='submit',value='submit')
        br

h2 Edit Profile
    form(method='post',action='/edit_profile', enctype="multipart/form-data")
        | access_token
        input(type='text', name='access_token')
        | first_name :
        input(type='text', name='first_name')
        | phonono :
        input(type='text', name='phonono')
        | address :
        input(type='text', name='address')
        | user_image :
        input(type='file', name='file')
        input(type='submit',value='submit')
        br

h2 Set Driver_Timing_available
    form(method='post',action='/driver_timing_schedule')
        | access_token
        input(type='text', name='driver_id')
        | first_name :
        input(type='text', name='start_timing')
        | phonono :
        input(type='text', name='end_timing')
        | address :
        input(type='submit',value='submit')
        br

h2 verify_driver
    form(method='post',action='/verify_driver')
        | access_token
        input(type='text', name='access_token')
        | driver_id :
        input(type='text', name='driver_id')
        | status 0 for not accepted and 1 for accepted
        input(type='text',name='status_driver')
        input(type='submit',value='submit')

h2 available_driver
    form(method='post',action='/get_driver')
        | access_token
        input(type='text', name='access_token')
        | latitude :
        input(type='text', name='latitude')
        | longitude
        input(type='text',name='longitude')
        |radius accorrding to miles
        input(type='text',name='radius')
        input(type='submit',value='submit')

h2 assign_driver
form(action='/assign_driver', method='post')
    | access_token :
    input(type='text', name='access_token')
    | pickup_latitude :
    input(type='text', name='latitude')
    | pickup_longitude :
    input(type='text', name='longitude')
    | pickup_address :
    input(type='text', name='address')
    | drop_latitude :
    input(type='text',name='drop_latitude')
    | drop_longitude
    input(type='text', name='drop_longitude')
    input(type='submit', value='submit')

h2 driver_accepted_notification
form(action='/accepted_notification',method='post')
    | access_token :
    input(type='text', name='access_token')
    | user_id :
    input(type='text',name='user_id')
    | latitude :
    input(type='text', name='latitude')
    | longitude :
    input(type='text', name='longitude')
    input(type='submit', name='accepted_notification')

h2 start_service
form(action='/start_service',method='post')
    | driver_access_token :
    input(type='text',name='access_token')
    input(type='submit',name='submit')
